# Ignore these files

billing/print_bill.php
billing/export_invoice.php

include/config.ini
include/config.inc.php
include/const.inc.php

orders/export_invoice.php
orders/export_proforma.php

# Ignore these folders

backup/
export/prosperity_movement.php
